body {
    position: relative;
    min-height: 100vh;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Roboto Mono', monospace;

}

.title-container {

}

.title {
    font-size: 64px;
}

.section-container {
    margin: 20px;
    padding: 10px;
    background-color: rgba(229, 249, 250, 0.5);
    border-radius: 15px;
    
}

.section-title {
    font-size: 48px;
}

