.web-section {
    padding: 10px;
    margin: 20px 40px;
    background-color: rgb(174, 240, 243);
    border-radius: 15px;
}

.animation-section {
    padding: 10px;
    margin: 20px 40px;
    background-color: rgb(174, 240, 243);
    border-radius: 15px;

}

.digital-media-section {
    padding: 10px;
    margin: 20px 40px;
    background-color: rgb(174, 240, 243);
    border-radius: 15px;

}

.project-header {
    font-size: 36px;
}

.project-title {
    font-size: 32px;

}